body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
   /* sidebar start */
  .sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .sidebar img{
      border-radius: 60px;
  }
  .sidebar .icon i{
      height: 38px;
      width: 38px; 
      background-color: rgb(59, 58, 58);
      border: 1px white;
      border-radius: 50%;
      padding-top: 10px;
  }
  .sidebar .icon i:hover{
      background-color: rgb(17, 167, 224);
  }
  .sidebar .icon-2 li{
    list-style: none;
    padding-top: 18px;
    font-size: 19px;
  }
  .sidebar .icon-2 li a{
    color: rgb(153, 144, 144);
    text-decoration: none;
  }
  .sidebar .icon-2 li a:hover{
    color: white;
  }
  .sidebar .template{
    border: 1px solid black;
    background-color: black;
    height: 70px;
    width: 250px;
  }
  .sidebar ul li span{
    color: rgb(179, 165, 165);
  }
  .sidebar ul li span:hover{
    color: rgb(17, 167, 224)!important;
  }
  /* sidebar end */
/*   
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    } 
}*/

/* content start  */
.content img{
  width: 100%;
  height: 100vh;
}
.content .heading{
  padding-bottom: 280px;
  padding-right: 210px;
}
.iam{
  color: white;
    font-size: 40px;
    padding: 15px;
    font-family: sans-serif;
}
.text{
  color: white;
    border-right: 2px solid rgb(241, 220, 220);
    font-size: 40px;
    font-family: sans-serif;
    color: rgb(226, 205, 202);
}